@import url("https://fonts.googlepis.com/css2?familly=poppins:wght@700&display=swap");

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior: smouth;
  font-familly: "poppins", serif;
} 
body{
     background-color:#222831;
} 
  header{ 
          display:flex;
          justify-content:space-between;
          align-items:center;
          margin:2rem auto;
          padding: 0 0.5rem;
          max-width:1200px; 
     }
  .navigation ul{
                 display:flex;
                 list-style-type:none;
                 gap:3rem;
                 }
  .navigation a{
                text-decoration:none;
                color:#eeeeee;
                transiation: 0,3s;
  } 
  .navigation a:hover{
    color:#00adb5;
  }
  .right-section{
                 margin-right:60px;
                 padding-right:70px;
  }
 hr {
  border: none;
  height: 2px;
  background-color: #aaaaaa;
  opacity: 25%;
  margin: 20px 0;
}
  .hero{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 5rem auto; 
   max-width: 1200px;
}
  .arrow{
     position: absolute;
   transform: translateX(-5.5rem) translateY(1.5rem);
}
  .heroSub{
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
}
  .name{
       font-size: 3rem;
       color: #eeeeee;
{
  .title{
     font-size: 4rem;
     color: #DC143C;
}